.col-md-4 h5{
    font-size: 13px !important;
    font-weight: 400;
}
.col-md-2 input{
    font-size: 12px !important;
}
.pull-right{
    float: right !important;
}
.cancel{
    margin-right: 20px;
}
span{
    color: gray;
}

.reason{
    margin-left: 170px;
    width: 300px;
    margin-top: -25px;
}
.DataRequest{
    margin-top: 20px !important;
}
.transerData{
    width: 102% !important;
    max-width: 102% !important;
}
.statusCheck h6{
    float: right;
    color: orange;
    margin-right: 23px;
}
.comment span{
    margin-left: 10px !important;
    color: black;
    }