.rectify{
    float: right;
}
p span{
    color: black;
    font-weight: bold;
}
.pull-right{
    float: right;
    margin-top: 20px;
}
.tokensvalue{
    margin-top: 20px;
}
.userToken  {
    font-size: 46px !important;
}
.reason{
    margin-top: 10px !important;
}