:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-wrapper{
  margin-left: 116px !important;
}
.mb-3{
  width: 30rem !important;
}
button{ 
  width: 10rem !important;
}
.card-title{
  margin-top: 20px !important;
  text-align: center;
  margin-bottom: -30px !important;
  font-size: 30px !important;
  font-weight: 500;
}

.card-title1 {
  margin-top: 20px !important;
  text-align: left;
  margin-bottom: -30px !important;
  font-size: 30px !important;
  font-weight: 500;
}

.otp input{
	width: 150px;
}
.otp-text{
  margin-top: 10px;
  margin-bottom: 5px;
}
.otpLengh{
  width: 480px;
  margin-bottom: 10px;
}
.form-group span{
  color: red;
}