<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-8 ps-md-0">

          <div class="auth-form-wrapper px-4 py-5">
            <div class="card-title1">UNIFIED REGISTRY</div><br><br>
            <a routerLink="." class="nobleui-logo d-block mb-2"><span>User Login</span></a>
            <h5 class="text-muted fw-normal mb-4">Log in to your account.</h5>
            <form #myform="ngForm">
              <div class="mb-3 form-group">
                <label for="exampleInputEmail1" class="form-label">Aadhar Number *</label>
                <input type="text" class="form-control" name="aadhaar" placeholder="Aadhar No."
                  [(ngModel)]="user.aadhaarNo" #aadhaar="ngModel" required>

                <span *ngIf="aadhaar.invalid && aadhaar.touched">Please Enter Aadhar Card No</span>
              </div>
              <!-- <div class="mb-3 form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="current-password"
                  placeholder="Password" [(ngModel)]="user.password" #password="ngModel">
              </div> -->
              <div class="mb-3 form-group">
              <label for="exampleInputPassword1" class="form-label">OTP</label> <br>
              <input class="form-control otpLengh" type="text" #digit1 maxlength="6" name="emailOtp"
                [(ngModel)]="user.otp" #emailOtp="ngModel" required  (keydown.enter)="onLoggedin(myform)"/>
                <span *ngIf="emailOtp.invalid && emailOtp.touched">Please Enter OTP No</span>
              </div>
            </form>
            <div>
              <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" [disabled]="myform.invalid"
                (click)="onLoggedin(myform)" >Login</button>
            </div>
            <!-- <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? Sign up</a> -->

          </div>

        </div>
      </div>
    </div>
  </div>
</div>