:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-wrapper{
  margin-left: 120px !important;
}

.mb-3{
  width: 30rem !important;
}
button{ 
  width: 10rem !important;
}