.piiData{
    margin-top: 20px !important;
}
.piiData1{
    margin-top: 20px !important;
}
.non-piiData2{
    margin-top: 40px !important;
}
.non-piiData1{
    margin-top: 40px !important;
}
.pull-right{
    float: right ;
    margin-top: -10px !important;
}
.col-md-3 p{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.col-md-2 p{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.col-md-3 h6{
    color: #7987a1;;
}
.col-md-2 h6{
    color: #7987a1;;
}
.card-title{
    margin-bottom: 30px !important;
}
.search{
    width: 600px !important;
    margin-left: 300px !important;
    margin-top: -26px !important;
}
.search-data{
    margin-left: 0px !important;
}
.rounded{
    width: 50%;
}
.custom-select-container {
    position: relative;
    width: 120px;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 11px;
    color: #e9ecef;
}

