.addnew {
    justify-content: right;
}

.card-body hr {
    color: #7886a1
}

.card-title{
    font-size: 1.4rem !important;
}
.addbtn {
    margin-left: 903px;
    margin-top: -43px;
}

.applybtn {
    margin-top: 30px;
}
.pull-right{
    float: right;
    margin-top: -28px !important;
    margin-left: -10px !important;
    height: 38px !important;
    
}
.btn-success{
    margin-left: 10px !important;
}
.btn-danger{
    margin-left: 10px !important;
}
.btn-info{
    margin-left: 10px !important;
}
.initial{
    margin-right: 20px !important;
}
.table-responsive{
    margin-top: 50px !important;
}
.CloseIcon{
    width:30px !important ;
    border-radius: 5px !important;
    
}
.fileUpload{
    font-size: 18px !important;
    margin-bottom: 10px !important;
}
.input-group{
    float: right;
    width: 300px !important;
    margin-top: -38px !important;
    margin-left: 10px !important;
}
.input-group button{
   margin-left: 0px !important;
}
.buttons{
    margin-left: 20px !important;
    margin-left: 250px !important;
    margin-top: -38px !important;
    margin-bottom: 50px !important;
}
.searchButton{
    margin-top: -27px !important;
}