<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
            
                    <h6 class="card-title heading">Smart Ration Card Scheme
                        <!-- <form #piiDataForm="ngForm" class="fromForSearch">
                            <div class="input-group searchButton">
                                <input type="text" class="form-control rounded" placeholder="Search by Aadhar Number"
                                    name="aadharNumber" #aadharNumber="ngModel" [(ngModel)]="aadhaarNo" aria-label="Clear"
                                    (keyup)="department_list()"
                                    aria-describedby="search-addon" />
                                <button type="button" class="btn btn-outline-primary" >Search
                                </button>
                            </div>
                        </form> -->
                        <!-- <button class="btn btn-primary pull-right" (click)="openBasicModal2(basicModal)">Excel Upload</button> -->
                        <button class="btn btn-primary pull-right" (click)="openBasicModal2(basicModal)">Upload Excel</button>
                        <button type="button" (click)="add()" class="btn btn-primary pull-right initial">
                            <i class="icons" data-feather="plus-circle" appFeatherIcon></i>Add New</button>
                        <button type="button" (click)="migrate()" class="btn btn-primary pull-right initial">
                            Migrate</button>
                        <button type="button" class="btn btn-primary pull-right initial" (click)="initialMigrate()" [disabled]="initialStatus">
                            Initial Migration</button>
                    </h6>
                <div class="table-responsive table-striped">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>       
                                <th>Owner Ship Name</th>
                                <th>Aadhaar No.</th>
                                <th>City</th>
                                <th>Mobile No.</th>
                                <!-- <th>Taluk Supply office</th> -->
                                <!-- <th>Ration Shop</th> -->
                                <!-- <th>Panchayat/Muncipality/Corporation</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of departmentList">
                                <td>{{list.localgovId}}</td>
                               <td>{{list.nameOfOwner}}</td>
                               
                                <td>{{list.aadhaarNo}}</td>
                                <td>{{list.city}}</td>
                                <td>{{list.mobileNo}}</td>
                                <!-- <td>{{list.talukSupplyOffice}}</td> -->
                                <!-- <td>{{list.rationShop}}</td> -->
                                <!-- <td>{{list.}}</td> -->


                                <td>
                                    <button type="submit" id="view" class="btn btn-success mr-2 mb-2 mb-md-0"
                                        [routerLink]="['../view',list.localgovId]"><i data-feather="eye"
                                            appFeatherIcon></i> View</button>
                                    <button type="submit" id="edit" class="btn btn-info mr-2 mb-2 mb-md-0"
                                        [routerLink]="['../edit', list.localgovId]"><i data-feather="edit-2"
                                            appFeatherIcon></i> Edit</button>
                                    <button class="btn btn-danger mr-2 mb-2 mb-md-0"
                                        (click)="openBasicModal(basicModal)">Delete</button>

                                    <ng-template #basicModal let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                                        </div>
                                        <div class="modal-body">
                                            <form #upload="ngForm">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Do you want to delete the
                                                                data?</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="modal.close('by: close button')">No</button>
                                                    <button type="button" class="btn btn-success mr-2 mb-2 mb-md-0"
                                                        (click)="department2deleteFile(list.localgovId)">Yes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #basicModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload excel File</h5>
        <button type="button" class="close CloseIcon" (click)="clearFileInput()" (click)="modal.close('by: close icon')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #upload="ngForm">
            <div class="row">
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label fileUpload">File</label>
                        <input type="file" class="form-control" name="file" #fileInput
                            (change)="uploadFile($event)" accept=".xlsx">
                            
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="clearFileInput()" (click)="modal.close('by: close button')">Close</button>
                <button type="button" [disabled]="upload.invalid" class="btn btn-primary" (click)="uploadExcel()">Upload</button>
            </div>
        </form>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" [fullScreen]="true">
    <p style="color: black"> Loading... </p>
</ngx-spinner>