<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">PII Data of Blockchain
                </h6>
                <form>
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                                <tr>  
                                    <!-- <th>EID</th> -->
                                    <th>Name</th>
                                    <!-- <th>Mobile No.</th> -->
                                    <th>Aadhar No.</th>
                                    <th>UUID</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of blockchainList">
                                    <!-- <td>{{item.nid}} </td> -->
                                    <td>{{item.name}} </td>
                                    <!-- <td>{{item.mobileNumber}} </td> -->
                                    <th><a [routerLink]="['/blockchain/views/', item.aadhaarNo]">{{item.aadhaarNo}}</a></th>
                                    <th>{{item.userUuid}} </th>
                                    
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
