.col-md-4 h5{
    font-size: 13px !important;
    font-weight: 400;
}
.col-md-2 input{
    font-size: 12px !important;
}
.pull-right{
    float: right !important;
}
.cancel{
    margin-right: 20px;
}
.house{
    display: flex;
    flex-direction: column !important;
}
.form-check{
    margin-top: 5px;
    margin-left: 10px;
}
.form-group span{
    color: red;
}