.addnew {
    justify-content: right;
}
.card-title{
    font-size: 1.4rem !important;
}
.card-body hr {
    color: #7886a1
}

.addbtn {
    margin-left: 903px;
    margin-top: -43px;
}

.applybtn {
    margin-top: 30px;
}
.pull-right{
    float: right;
}
.btn-success{
    margin-left: 10px !important;
}
.btn-danger{
    margin-left: 10px !important;
}
.btn-info{
    margin-left: 10px !important;
}
.initial{
    margin-right: 20px !important;
}
.table-responsive{
    margin-top: 35px !important;
}
.dataTableExample thead td{
    table-layout: auto
}
.CloseIcon{
    width:30px !important ;
    border-radius: 5px !important;
    
}
.fileUpload{
    font-size: 18px !important;
    margin-bottom: 10px !important;
}
