/* Custom button styles */
.cancel-button {
    background-color: white; /* White background */
    border: 1px solid black; /* Black border */
    color: black; /* Black text */
    font-size: 16px; /* Increased font size */
    padding: 10px 20px; /* Increased padding */
    margin-right: 10px; /* Added margin between buttons */
  }
  
  .submit-button {
    font-size: 16px; /* Increased font size */
    padding: 10px 20px; /* Increased padding */
    margin-right: 10px; /* Added margin between buttons */
  }

  .delete-icon {
    color: red;
    margin-left: 5px;
}

  