<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Configuration Setting</h6>
        <div class="container-fluid">
          <div class="row my-5">
            <!-- <i class="feather icon-delete me-2 icon-md"></i> -->

            <div class="row align-items-center">
              <div class="col-md-3">
                <h6 class="card-title mb-0"></h6>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                Select Equivalent Fields
                  <i class="feather icon-trash icon-sm me-2 delete-icon"></i>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  Select Equivalent Fields
                  <i class="feather icon-trash icon-sm me-2 delete-icon"></i>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <button class="btn btn-dark mr-2">Add New Fields</button>
                </div>
              </div>
            </div>
          </div>
          <!-- First row -->
          <div class="row my-5">
            <div class="row align-items-center">
              <div class="col-md-3">
                <h6 class="card-title mb-0">
                  Food & Supply Department / Smart Ration Card Scheme
                </h6>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="foodSupplySelect1"
                    [(ngModel)]="foodSupplyOption1"
                  >
                  <option value="Member Name">
                    Member Name
                  </option>
                  <option value="Spouse's Name">
                    Spouse's Name
                  </option>
                  <option value="Father's Name">
                    Father's Name
                  </option>
                  <option value="Mother's Name">
                    Mother's Name
                  </option>
                    <option value="Age">
                      Age
                    </option>
                    <option value="Date of Birth">
                      Date of Birth
                    </option>
                    <option value="Gender">
                      Gender
                    </option>
                    <option value="Nationality">
                      Nationality
                    </option>
                    <option value="Occupation">
                      Occupation
                    </option>
            
                    <option value="UID/Aadhar No's">UID/Aadhar No's</option>
                    <option value="Birth Certificate">Birth Certificate</option>
                    <option value="Document Type">Document Type</option>
                    <option value="Document Issue Date">
                      Document Issue Date
                    </option>
                    <option value="Document Number">Document Number</option>
                    <option value="Upload Birth certificate">
                      Upload Birth certificate
                    </option>
                    <option value="MNREGA">MNREGA</option>
                    <option value="MNREGA Card No.">MNREGA Card No.</option>
                    <option value="MNREGA Card upload.">
                      MNREGA Card upload.
                    </option>
                    <option value="Critical Illness">Critical Illness</option>
                    <option value="Critical Illness Type">
                      Critical Illness Type
                    </option>
                    <option value="Critical illness since">
                      Critical illness since
                    </option>
                    <option value="Critical Illness Certificate">
                      Critical Illness Certificate
                    </option>
                    <option value="Caste Category">Caste Category</option>
                    <option value="Select the Caste type">
                      Select the Caste type
                    </option>
                    <option value="Verification">Verification</option>
                    <option value="Disability">Disability</option>
                    <option value="Any Disability">Any Disability</option>
                    <option value="Select the disability Type">
                      Select the disability Type
                    </option>
                    <option value="Disability Causes">Disability Causes</option>
                    <option value="Disability Percentage">
                      Disability Percentage
                    </option>
                    <option value="Certificate of Disability">
                      Certificate of Disability
                    </option>
                    <option value="Special Category">Special Category</option>
                    <option value="Special category">Special category</option>
                    <option value="BANK DETAILS">BANK DETAILS</option>
                    <option value="BANK NAME">BANK NAME</option>
                    <option value="BANK DISTRICT">BANK DISTRICT</option>
                    <option value="STATE">STATE</option>
                    <option value="Bank A/c No.">Bank A/c No.</option>
                    <option value="Branch Name">Branch Name</option>
                    <option value="Card Type Details">Card Type Details</option>
                    <option value="Select card type">Select card type</option>
                    <option value="Address Details">Address Details</option>
                    <option value="House No.">House No.</option>
                    <option value="House Name">House Name</option>
                    <option value="Landmark">Landmark</option>
                    <option value="Locality">Locality</option>
                    <option value="Colony">Colony</option>
                    <option value="Village">Village</option>
                    <option value="Town Name">Town Name</option>
                    <option value="Taluka">Taluka</option>
                    <option value="Tehsil">Tehsil</option>
                    <option value="Sub district">Sub district</option>
                    <option value="District">District</option>
                    <option value="Block">Block</option>
                    <option value="State">State</option>
                    <option value="Pin">Pin</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="foodSupplySelect2"
                    [(ngModel)]="foodSupplyOption2"
                  >
                  <option value="Member Name">
                    Member Name
                  </option>
                  <option value="Spouse's Name">
                    Spouse's Name
                  </option>
                  <option value="Father's Name">
                    Father's Name
                  </option>
                  <option value="Mother's Name">
                    Mother's Name
                  </option>
                    <option value="Age">
                      Age
                    </option>
                    <option value="Date of Birth">
                      Date of Birth
                    </option>
                    <option value="Gender">
                      Gender
                    </option>
                    <option value="Nationality">
                      Nationality
                    </option>
                    <option value="Occupation">
                      Occupation
                    </option>
                    <option value="Ration Lifting Eligibility">
                      Ration Lifting Eligibility
                    </option>
                    <option value="UID/Aadhar No's">UID/Aadhar No's</option>
                    <option value="Birth Certificate">Birth Certificate</option>
                    <option value="Document Type">Document Type</option>
                    <option value="Document Issue Date">
                      Document Issue Date
                    </option>
                    <option value="Document Number">Document Number</option>
                    <option value="Upload Birth certificate">
                      Upload Birth certificate
                    </option>
                    <option value="MNREGA">MNREGA</option>
                    <option value="MNREGA Card No.">MNREGA Card No.</option>
                    <option value="MNREGA Card upload.">
                      MNREGA Card upload.
                    </option>
                    <option value="Critical Illness">Critical Illness</option>
                    <option value="Critical Illness Type">
                      Critical Illness Type
                    </option>
                    <option value="Critical illness since">
                      Critical illness since
                    </option>
                    <option value="Critical Illness Certificate">
                      Critical Illness Certificate
                    </option>
                    <option value="Caste Category">Caste Category</option>
                    <option value="Select the Caste type">
                      Select the Caste type
                    </option>
                    <option value="Verification">Verification</option>
                    <option value="Disability">Disability</option>
                    <option value="Any Disability">Any Disability</option>
                    <option value="Select the disability Type">
                      Select the disability Type
                    </option>
                    <option value="Disability Causes">Disability Causes</option>
                    <option value="Disability Percentage">
                      Disability Percentage
                    </option>
                    <option value="Certificate of Disability">
                      Certificate of Disability
                    </option>
                    <option value="Special Category">Special Category</option>
                    <option value="Special category">Special category</option>
                    <option value="BANK DETAILS">BANK DETAILS</option>
                    <option value="BANK NAME">BANK NAME</option>
                    <option value="BANK DISTRICT">BANK DISTRICT</option>
                    <option value="STATE">STATE</option>
                    <option value="Bank A/c No.">Bank A/c No.</option>
                    <option value="Branch Name">Branch Name</option>
                    <option value="Card Type Details">Card Type Details</option>
                    <option value="Select card type">Select card type</option>
                    <option value="Address Details">Address Details</option>
                    <option value="House No.">House No.</option>
                    <option value="House Name">House Name</option>
                    <option value="Landmark">Landmark</option>
                    <option value="Locality">Locality</option>
                    <option value="Colony">Colony</option>
                    <option value="Village">Village</option>
                    <option value="Town Name">Town Name</option>
                    <option value="Taluka">Taluka</option>
                    <option value="Tehsil">Tehsil</option>
                    <option value="Sub district">Sub district</option>
                    <option value="District">District</option>
                    <option value="Block">Block</option>
                    <option value="State">State</option>
                    <option value="Pin">Pin</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-5">
            <div class="row align-items-center">
              <div class="col-md-3">
                <h6 class="card-title mb-0">
                  Local Government / Property Tax Scheme
                </h6>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="localGovtSelect1"
                    [(ngModel)]="localGovtOption1"
                  >
                    <option value="CITY">CITY</option>
                    <option value="HOUSE / SHOP NO.">HOUSE / SHOP NO.</option>
                    <option value="BUILDING/ COLONY NAME">
                      BUILDING/ COLONY NAME
                    </option>
                    <option value="STREET NAME">STREET NAME</option>
                    <option value="LOCALITY / MOHALLA">
                      LOCALITY / MOHALLA
                    </option>
                    <option value="PIN CODE">PIN CODE</option>
                    <option value="EXISTING PROPERTY ID">
                      EXISTING PROPERTY ID
                    </option>
                    <option value="SURVEY ID / UID">SURVEY ID / UID</option>
                    <option value="YEAR OF CREATION OF PROPERTY">
                      YEAR OF CREATION OF PROPERTY
                    </option>
                    <option value="PROPERTY DETAILS">PROPERTY DETAILS</option>
                    <option value="PROPERTY USAGE TYPE">
                      PROPERTY USAGE TYPE
                    </option>
                    <option value="PROPERTY TYPE">PROPERTY TYPE</option>
                    <option value="VASIKA NO.">VASIKA NO.</option>
                    <option value="VASIKA DATE">VASIKA DATE</option>
                    <option value="ALLOTMENT NO.">ALLOTMENT NO.</option>
                    <option value="ALLOTMENT DATE">ALLOTMENT DATE</option>
                    <option value="BUSINESS NAME">BUSINESS NAME</option>
                    <option value="REMARKS">REMARKS</option>
                    <option
                      value="DO YOU HAVE INFLAMMABLE MATERIALS STORED IN YOUR PROPERTY"
                    >
                      DO YOU HAVE INFLAMMABLE MATERIALS STORED IN YOUR PROPERTY
                    </option>
                    <option value="HEIGHT OF PROPERTY MORE THAN 36 FT">
                      HEIGHT OF PROPERTY MORE THAN 36 FT
                    </option>
                    <option value="PLOT SIZE (SQ. YARDS)">
                      PLOT SIZE (SQ. YARDS)
                    </option>
                    <option value="OWNER DETAILS">OWNER DETAILS</option>
                    <option value="TYPE OF OWNERSHIP">TYPE OF OWNERSHIP</option>
                    <option value="NAME OF OWNER">NAME OF OWNER</option>
                    <option value="GENDER">GENDER</option>
                    <option value="MOBILE NO.">MOBILE NO.</option>
                    <option value="GUARDIAN NAME">GUARDIAN NAME</option>
                    <option value="RELATIONSHIP">RELATIONSHIP</option>
                    <option value="SPECIAL CATEGORY">SPECIAL CATEGORY</option>
                    <option value="EMAIL ID">EMAIL ID</option>
                    <option value="OWNERSHIP PERCENTAGE">
                      OWNERSHIP PERCENTAGE
                    </option>
                    <option value="ADDRESS">ADDRESS</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="localGovtSelect2"
                    [(ngModel)]="localGovtOption2"
                  >
                    <option value="CITY">CITY</option>
                    <option value="HOUSE / SHOP NO.">HOUSE / SHOP NO.</option>
                    <option value="BUILDING/ COLONY NAME">
                      BUILDING/ COLONY NAME
                    </option>
                    <option value="STREET NAME">STREET NAME</option>
                    <option value="LOCALITY / MOHALLA">
                      LOCALITY / MOHALLA
                    </option>
                    <option value="PIN CODE">PIN CODE</option>
                    <option value="EXISTING PROPERTY ID">
                      EXISTING PROPERTY ID
                    </option>
                    <option value="SURVEY ID / UID">SURVEY ID / UID</option>
                    <option value="YEAR OF CREATION OF PROPERTY">
                      YEAR OF CREATION OF PROPERTY
                    </option>
                    <option value="PROPERTY DETAILS">PROPERTY DETAILS</option>
                    <option value="PROPERTY USAGE TYPE">
                      PROPERTY USAGE TYPE
                    </option>
                    <option value="PROPERTY TYPE">PROPERTY TYPE</option>
                    <option value="VASIKA NO.">VASIKA NO.</option>
                    <option value="VASIKA DATE">VASIKA DATE</option>
                    <option value="ALLOTMENT NO.">ALLOTMENT NO.</option>
                    <option value="ALLOTMENT DATE">ALLOTMENT DATE</option>
                    <option value="BUSINESS NAME">BUSINESS NAME</option>
                    <option value="REMARKS">REMARKS</option>
                    <option
                      value="DO YOU HAVE INFLAMMABLE MATERIALS STORED IN YOUR PROPERTY"
                    >
                      DO YOU HAVE INFLAMMABLE MATERIALS STORED IN YOUR PROPERTY
                    </option>
                    <option value="HEIGHT OF PROPERTY MORE THAN 36 FT">
                      HEIGHT OF PROPERTY MORE THAN 36 FT
                    </option>
                    <option value="PLOT SIZE (SQ. YARDS)">
                      PLOT SIZE (SQ. YARDS)
                    </option>
                    <option value="OWNER DETAILS">OWNER DETAILS</option>
                    <option value="TYPE OF OWNERSHIP">TYPE OF OWNERSHIP</option>
                    <option value="NAME OF OWNER">NAME OF OWNER</option>
                    <option value="GENDER">GENDER</option>
                    <option value="MOBILE NO.">MOBILE NO.</option>
                    <option value="GUARDIAN NAME">GUARDIAN NAME</option>
                    <option value="RELATIONSHIP">RELATIONSHIP</option>
                    <option value="SPECIAL CATEGORY">SPECIAL CATEGORY</option>
                    <option value="EMAIL ID">EMAIL ID</option>
                    <option value="OWNERSHIP PERCENTAGE">
                      OWNERSHIP PERCENTAGE
                    </option>
                    <option value="ADDRESS">ADDRESS</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Labour Department -->
          <div class="row my-5">
            <div class="row align-items-center">
              <div class="col-md-3">
                <h6 class="card-title mb-0">
                  Labour Department / Employee Registration Scheme
                </h6>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="labourDeptSelect1"
                    [(ngModel)]="labourDeptOption1"
                  >
                    <option value="Employee_Name">Employee_Name</option>
                    <option value="Father_Or_Husband_Name">
                      Father_Or_Husband_Name
                    </option>
                    <option value="Gender">Gender</option>
                    <option value="ID Proof (aadhar/passport)">
                      ID Proof (aadhar/passport) Aadhar mandatory now
                    </option>
                    <option value="Mobile">Mobile</option>
                    <option value="Bank_Account_No(Write_'A'_Before_AccNo)">
                      Bank_Account_No(Write_'A'_Before_AccNo)
                    </option>
                    <option value="Bank_Name">Bank_Name</option>
                    <option value="IFSCCode">IFSCCode</option>
                    <option value="ESIC_No">ESIC_No</option>
                    <option value="PF_No">PF_No</option>
                    <option value="Date_of_Birth">Date_of_Birth</option>
                    <option value="Date_of_Joining">Date_of_Joining</option>
                    <option value="Date_of_Relieving">
                      Date_of_Relieving
                    </option>
                    <option value="State of Work(Fixed - Punjab)">
                      State of Work(Fixed - Punjab)
                    </option>
                    <option value="Location">Location</option>
                    <option value="Nationality">Nationality</option>
                    <option value="No_Of_Months_Employee_On_Leave(IfAny)">
                      No_Of_Months_Employee_On_Leave(IfAny)
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="labourDeptSelect2"
                    [(ngModel)]="labourDeptOption2"
                  >
                    <option value="Employee_Name">Employee_Name</option>
                    <option value="Father_Or_Husband_Name">
                      Father_Or_Husband_Name
                    </option>
                    <option value="Gender">Gender</option>
                    <option value="ID Proof (aadhar/passport)">
                      ID Proof (aadhar/passport) Aadhar mandatory now
                    </option>
                    <option value="Mobile">Mobile</option>
                    <option value="Bank_Account_No(Write_'A'_Before_AccNo)">
                      Bank_Account_No(Write_'A'_Before_AccNo)
                    </option>
                    <option value="Bank_Name">Bank_Name</option>
                    <option value="IFSCCode">IFSCCode</option>
                    <option value="ESIC_No">ESIC_No</option>
                    <option value="PF_No">PF_No</option>
                    <option value="Date_of_Birth">Date_of_Birth</option>
                    <option value="Date_of_Joining">Date_of_Joining</option>
                    <option value="Date_of_Relieving">
                      Date_of_Relieving
                    </option>
                    <option value="State of Work(Fixed - Punjab)">
                      State of Work(Fixed - Punjab)
                    </option>
                    <option value="Location">Location</option>
                    <option value="Nationality">Nationality</option>
                    <option value="No_Of_Months_Employee_On_Leave(IfAny)">
                      No_Of_Months_Employee_On_Leave(IfAny)
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Local Government -->

          <!-- Button row -->
          <!-- <div class="row">
            <div class="col-md-6">
              <button class="btn btn-dark mr-2" (click)="addNewDept()">
                Add New Dept
              </button>
            </div>
          </div> -->
          <!-- <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-danger mr-2" (click)="cancel()">Cancel</button>
            <button class="btn btn-dark submit-button" (click)="submit()">Submit</button>
          </div> -->
          <div class="d-flex justify-content-end mt-3">
            <!-- Added mt-3 for spacing -->
            <button
              class="btn btn-danger mr-2 cancel-button"
              (click)="cancel()"
            >
              Cancel
            </button>
            <!-- Added custom class 'cancel-button' -->
            <button class="btn btn-dark submit-button" (click)="submit()">
              Submit
            </button>
            <!-- Added custom class 'submit-button' -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
