<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Property Tax Scheme: Add Details</h6>
                <form #departmentAddForm2="ngForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" #city="ngModel"
                                    placeholder="Please Enter CIty " name="city"  [(ngModel)]="filter.city">   
                            </div>
                        </div><!-- Col -->
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">HOUSE / SHOP NO</label>
                                <input type="text" class="form-control" #houseOrShopNo="ngModel"  name="houseOrShopNo"
                                    placeholder="Please Enter House Or ShopNo." [(ngModel)]="filter.houseOrShopNo" >
                                    <!-- <span *ngIf="houseOrShopNo.invalid && houseOrShopNo.touched">Please Enter Ration Card No.</span> -->
                            </div>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Building Or Colony Name</label>
                                <input type="text" class="form-control" #buildingOrColonyName="ngModel"  name="namePlease"
                                    placeholder="Please Enter Building Or ColonyName" [(ngModel)]="filter.buildingOrColonyName">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Street Name</label>
                                <input type="text" class="form-control" #streetName="ngModel"  name="namePlease"
                                    placeholder="Please Enter street Name" [(ngModel)]="filter.streetName">
                                 
                            </div>
                        </div>
                      
                      
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Locality Or Mohalla</label>
                                <input type="text" class="form-control" #localityOrMohalla="ngModel"  name="namePlease"
                                    placeholder="Please Enter Locality Or Mohalla" [(ngModel)]="filter.localityOrMohalla">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Pin Code</label>
                                <input type="number" class="form-control" #pincode="ngModel"  name="namePlease"
                                    placeholder="Please Enter Pincode" [(ngModel)]="filter.pincode">
                                 
                            </div>
                        </div>
                       
                      
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Existing Property</label>
                                <input type="text" class="form-control" #propertyId="ngModel"  name="namePlease"
                                    placeholder="Please Enter property" [(ngModel)]="filter.propertyId">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Survey ID / UID.*</label>
                                <input type="number" class="form-control" #surveyId;="ngModel"  name="namePlease"
                                    placeholder="Please Enter Survey" [(ngModel)]="filter.surveyId">
                                 
                            </div>
                        </div>
                       
        
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Year of Creation of Property</label>
                                <input type="date" class="form-control" #yearOfCreationOfProperty="ngModel"  name="namePlease"
                                    placeholder="Please Enter Year Of Creation Of Property" [(ngModel)]="filter.yearOfCreationOfProperty">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Property Usage Type</label>
                                <input type="text" class="form-control" #type="ngModel"  name="namePlease"
                                    placeholder="Please Enter Type" [(ngModel)]="filter.type">
                                 
                            </div>
                        </div>
                        
                      
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Property Type</label>
                                <input type="text" class="form-control" #propertyType="ngModel"  name="namePlease"
                                    placeholder="Please Enter propertyType" [(ngModel)]="filter.propertyType">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Vasika No</label>
                                <input type="number" class="form-control" #vasikaNo="ngModel"  name="namePlease"
                                    placeholder="Please Enter VasikaNo" [(ngModel)]="filter.vasikaNo">
                                 
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Vasika Date</label>
                                <input type="date" class="form-control" #vasikaDate="ngModel"  name="namePlease"
                                    placeholder="Please Enter vasikaDate" [(ngModel)]="filter.vasikaDate">
                                 
                            </div>
                        </div>
                      
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Allotment No</label>
                                <input type="number" class="form-control" #allotmentNo="ngModel"  name="namePlease"
                                    placeholder="Please Enter Allotment No" [(ngModel)]="filter.allotmentNo">
                                 
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Allotment Date</label>
                                <input type="date" class="form-control" #allotmentDate="ngModel"  name="namePlease"
                                    placeholder="Please Enter Allotment Date" [(ngModel)]="filter.allotmentDate">
                                 
                            </div>
                        </div>
                      
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Business Name</label>
                                <input type="text" class="form-control" #businessName="ngModel"  name="namePlease"
                                    placeholder="Please Enter Business Name" [(ngModel)]="filter.businessName">
                                 
                            </div>
                        </div>
                       
                    </div>    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Inflammable Material Stored</label>
                                <select class="form-control" #inflammableMaterialStoredInYourProperty="ngModel" name="inflammableMaterialStoredInYourProperty" [(ngModel)]="filter.inflammableMaterialStoredInYourProperty">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Height Of Property</label>
                                <select class="form-control" #propertyMoreThan36FT="ngModel" name="propertyMoreThan36FT" [(ngModel)]="filter.propertyMoreThan36FT">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Plot Size (SQ. YARDS)</label>
                                <input type="text" class="form-control" #yards="ngModel"  name="namePlease"
                                    placeholder="Please Enter yards" [(ngModel)]="filter.yards">
                                 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Type of OwnerShip</label>
                                <input type="text" class="form-control" #ownerShip="ngModel"  name="namePlease"
                                    placeholder="Please Enter OwnerShip" [(ngModel)]="filter.ownerShip">
                                 
                            </div>
                        </div>
                      
                    </div>
                      <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Name Of Owner</label>
                                <input type="text" class="form-control" #nameOfOwner="ngModel"  name="namePlease"
                                    placeholder="Please Enter Name Of Owner" [(ngModel)]="filter.nameOfOwner">
                                    <span *ngIf="nameOfOwner.invalid && nameOfOwner.touched" class="text-danger">Please Enter Name of Owner.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Gender</label>
                                <select class="form-control" #gender="ngModel" name="gender" [(ngModel)]="filter.gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Mobile No</label>
                                <input type="tel" class="form-control" #mobileNo="ngModel" name="mobileNo"
                                  minlength="10" maxlength="10"  placeholder="Please Enter Mobile No." [(ngModel)]="filter.mobileNo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Guardian Name</label>
                                <input type="text" class="form-control" #guardianName="ngModel"  name="namePlease"
                                    placeholder="Please Enter Guardian Name" [(ngModel)]="filter.guardianName">
                                 
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Relationship</label>
                                <input type="text" class="form-control" #relationship="ngModel" name="relationship"
                                   placeholder="Please Enter Relationship" [(ngModel)]="filter.relationship">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Special Category</label>
                                <select class="form-control" #specialCategory="ngModel" name="specialCategory" [(ngModel)]="filter.specialCategory">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Email ID</label>
                                <input type="text" class="form-control" #emailId="ngModel" name="emailId"
                                   placeholder="Please Enter Email Id" [(ngModel)]="filter.emailId">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Owner Ship Percentage</label>
                                <input type="text" class="form-control" #ownershipPercentage="ngModel"  name="namePlease"
                                    placeholder="Please Enter OwnershipPercentage" [(ngModel)]="filter.ownershipPercentage">                                
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">registeredwill</label>
                                <input type="text" class="form-control" #registeredWill="ngModel" name="registeredWill"
                                   placeholder="Please Enter Registered Will" [(ngModel)]="filter.registeredWill">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Aadhaar Card No</label>
                                <input type="text" class="form-control" #aadharcard="ngModel" required name="aadharcard"
                                minlength="12" maxlength="12" placeholder="Please Enter Aadhaar Card No." [(ngModel)]="filter.aadhaarNo">
                                <span *ngIf="aadharcard.invalid && aadharcard.touched">Please Enter Aadhaar Card No.</span>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" #address="ngModel" name="address"
                                   placeholder="Please Enter address" [(ngModel)]="filter.address">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Address Proof</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" #addressProof="ngModel"  name="addressProof"
                                            accept=".jpg, .jpeg, .png, .pdf" [(ngModel)]="filter.addressProof" (change)="onFileSelected($event, 'addressProof')">
                                        <!-- <label class="custom-file-label">{{ filter.addressProof ? filter.addressProof.name : 'Choose file' }}</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">Usage Proof</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" #usageProof="ngModel"  name="usageProof"
                                            accept=".jpg, .jpeg, .png, .pdf" [(ngModel)]="filter.usageProof" (change)="onFileSelected($event, 'usageProof')">
                                        <!-- <label class="custom-file-label">{{ filter.usageProof ? filter.usageProof.name : 'Choose file' }}</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="form-label">REMARKS</label>
                                <input type="text" class="form-control" #remark="ngModel"  name="namePlease"
                                    placeholder="Please Enter Remark" [(ngModel)]="filter.remark">
                                 
                            </div>
                        </div>
                                    
                    </div>                    
                </form>
                <div class="pull-right">
                    <button type="button" (click)="cancel()" class="btn btn-primary cancel ">Cancel</button>
                    <button type="button" class="btn btn-primary submit " [disabled]="departmentAddForm2.invalid" (click)="department2AddForm()">Submit </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" [fullScreen]="true">
    <p style="color: black"> Loading... </p>
</ngx-spinner>