.userCard{
    margin-top: 40px;
    padding-left: 20px;
}
#rectificationChart{
    width: 416px !important;
    height: 416px !important;
    margin-left: 100px !important;
    margin-top: 40px;
}
.rectificationCard{
    height: 550px !important;
    margin-top: 40px !important;
    margin-top: 40px;
}
#mychart3{
    width: 416px !important;
    height: 416px !important;
    margin-left: 100px !important;
    margin-top: 40px;
}
#rewardChart{
    height: 500px !important;
    width: 500px !important;
    margin-left: 400px !important;
    margin-top: 40px;
}
.range-selection{
    width: 409px;
    float: right;
    display: flex;
}
.form-group{
    margin-right: 10px !important;
}
#chooseDate{
    height: 37px;
    border-radius: 5px;
    padding: 10px;
}
.card-title{
    font-size: large;
}
.fromDate{
    margin-right: 10px !important;
}
.datePicker{
    margin-right: 20px !important;
}
.totaluser{
    margin-left: 20px;
}
.rewardPoint{
    float: right !important;
}
.exchangeValue{
    margin-top: 70px !important;
}
.apexcharts-menu {
    display: none !important;
  }
  .RupeesPerYear{
    font-size: 12px !important;
    text-align: center !important;
    font-weight: 400;
    margin-top: 8px;
  }
  .rectification{
    margin-top: -16px !important;
    
  }
