#year{
    width: 250px;
    float: right;
    border-radius: 5px;
    height: 35px;
    padding-left: 5px ;
}
.Duration{
  
    float: right;
    
}
.Duration select{
    width: 200px !important;
    border-radius: 5px !important;
    margin-top: 10px !important;
}
